.router-link {
    text-decoration: none;
}
*::-webkit-scrollbar {
    width: 0.4em;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
}
*::-webkit-scrollbar-thumb {
    background-—Åolor: rgba(0,0,0,.1);
    outline: 1px solid slategrey
}